@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green:#27300f;
$orange:#d26a22;
$white:#fff;

$font-jost: 'Jost', serif;
$font-cormorant: 'Cormorant', serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
}
.header {
    max-width: 1440px;
    margin: 0 auto 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 15px 0 15px;
    &__item {
        display: flex;
        align-items: center;
        &_1 {
            gap: 11.8rem;
        }
        &_2 {
            gap: 8.1rem;
        }
    }
    &__nav {
        display: flex;
        gap: 4.8rem;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }
    &__link {
        color: $green;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color:$orange;
        }
    }
    &__tel {
        font-weight: 500;
        color: $green;
        letter-spacing: .12rem;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color:$orange;
        }
    }
    &__cart {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../images/cart.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        position: relative;
        border: 1px solid $orange;
        transition: .3s;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        right: .6rem;
        top: .5rem;
    }
}
.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
    height: 3.2rem;
    transition: .3s;
    &:hover {
        transform: scale(1.1);
    }
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    position: relative;
    padding-bottom: 187px;
    z-index: 0;
    &__text {
        padding-top: 3.4rem;
    }
    &__item {
        margin-left: 12rem;
        max-width: 378px;
        margin-top: 6.1rem;
    }
    &__link {
        margin-top: 5.5rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__cover {
        flex-basis: 763px;
        height: 763px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 93%;
        box-shadow: 3rem 5rem 6rem -3rem rgba($green, .4);
        border-radius:100%
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;
        cursor: pointer;
        &::before {
            content: '';
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            background-color: $green;
            position: absolute;
            transition: .3s;
        }
        &:hover::before {
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            background-color: $orange;
        }
        &_1 {
            top: 42px;
            left: 66px;
            &::before {
                bottom: 8px;
                right: -35px;
            }
        }
        &_2 {
            top: 190px;
            right: 3px;
            &::before {
                top: 20px;
                left: -26px;
            }
        }
        &_3 {
            bottom: -43px;
            right: 244px;
            &::before {
                top: -24px;
                left: 13px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, .8);
        line-height: 1.6;
    }
    &__tomato {
        width: 11rem;
        position: absolute;
        bottom: 120px;
        right: 122px;
        z-index: -1;
    }
    &__avocado {
        width:17.8rem;
        position: absolute;
        top: 45px;
        right: 0;
        z-index: -1;
    }
    &__cucumber {
        width:8.5rem;
        position: absolute;
        top: 0;
        left: 689px;
        z-index: -1;
    }
    &__pepper {
        width:8.6rem;
        position: absolute;
        top: 397px;
        left: 40px;
        z-index: -1;
    }
    &__vegetables {
        width:10.05rem;
        position: absolute;
        bottom: 169px;
        left: 0;
        z-index: -1;
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    line-height: 1;
    &__span {
        font-style:italic;
    }
    &__span::after {
        content: '!';
        font-style: normal;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    &_size-s {
        font-size:1.8rem;
    }
}
.link {
    color:$white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2.3rem 4.2rem;
    letter-spacing: .13rem;
    background-color: $orange;
    border-radius: 3.8rem;
    box-shadow: 0 1rem 1.1rem .2rem rgba(207, 92, 13, .2);
    display:inline-block;
}